.link {
  text-decoration: none;
  color: black;
  
}

.container {
  text-align: center;
  padding-bottom: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.button {
  background-color: #003a70;
  color: white;
}
