#root {
  height: 100vh;
}

.outer--container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 600px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 50px;
  padding: 0px;
  background-color: white;
  margin-bottom: 20px;
}

.outer--container h1 {
  font-size: 100px;
  padding: 0px;
  margin: 0;
}

.outer--container p {
  font-size: 18px;
  
}

#logo {
  font-family: 'Pokemon Solid';
  font-style: none;
  font-size: 40px;
  color: #ffcb05;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
  outline: none;
  outline-offset: -2px;
}

#pokeball {
  width: 80px;
  height: 80px;
}